.socialfooter {
    color: #37755b;
    font-size: 5.5em
}

.socialfooter:hover {
    color: #19573d;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.visible1 {
    display: block;
}

.visible2 {
    display: none;
}

.footer-nav2 {
    display: block;
    color: #fff;
    padding: 5px;
    transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.footer-nav2:hover,
.footer-nav2:focus {
    text-decoration: none;
    color: #5db3af;
}

.middleagain {
    max-width: 80%;
    max-height: 80vh;
    vertical-align: middle !important;
}

.middleall {
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 80vh !important;
    width: auto;
    overflow: hidden;
}

.growonhover {
    margin-top: 6px;
    width: 100%;
}

.growonhover:hover {
    -webkit-box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 8px 1px rgba(255, 255, 255, 1);
    cursor: pointer;
}

.rotate {
    -webkit-transform: rotate(90deg);
    /* Safari and Chrome */
    -moz-transform: rotate(90deg);
    /* Firefox */
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -o-transform: rotate(90deg);
    /* Opera */
    transform: rotate(90deg);
}

.videointro {
    max-width: 60%;
}
.scaleface{
    max-width: 20vw;
}

@media only screen and (max-width: 766px) {
    .videointro {
        left: 2%;
        max-width: 100%;
    }
    .visible1{
        display: none;
    }
    .visible2{
        display: block;
    }
    .scaleface{
        max-width: 60vw;
    }
}

.anchorthing {
    transition: all 0.5s ease;
}

.anchorthing:hover {
    transition: all 0.5s ease;
    text-decoration: none !important;
}

.white {
    color: #fff;
}

.homeimage {
    max-height: 75vh;
    max-width: 70vw;
    opacity: 0.9;
}

.fullheight {
    min-height: 100vh;
    overflow: hidden;
}

.relative {
    position: relative;
}

.blackheading {
    color: #333 !important;
}

.bghome {
    background: url('../img/hero.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%-50px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 65px 0;
}

.bgabout {
    background: url('../img/Itried.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%-50px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 65px 0;
}

.bghardware {
    background: url('../img/Shuttle.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%-50px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 65px 0;
}

.bgsoftware {
    background: url('../img/Softwarebg2.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%-50px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 65px 0;
}

.bgmedia {
    background: url('../img/Sunset.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%-50px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 65px 0;
}

.bgcontact {
    background: url('../img/Sunmoreset.jpg') no-repeat center center;
    -webkit-background-size: 100% 100%-50px;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 65px 0;
}

.download-now {
    background: #292D40 no-repeat right 65px;
    background-size: 50%;
}

.design {
    padding: 100px 0;
    background-color: #53688A;
    position: relative;
}

.white-text {
    color: #fff !important;
    font-size: 1.2em;
}

.bullet-point {
    margin-bottom: 0;
    margin-top: 0.3em;
}

footer {
    background-color: #69A78D
}

footer a {
    color: #19573d;
}

.footer-nav li a:hover, .footer-nav li a:focus {
    text-decoration: none;
    color: #19573d;
}

a {
    color: #69A78D;
    text-decoration: none;
}